@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  overflow-y: scroll; /* Always show scrollbar, even if content doesn't overflow */
  margin-right: 0 !important; /* Ensure no right margin is added when scrollbar appears */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

kendo-pdf-document .reorder-header {
    border: 1px dashed #e5e7eb;
    padding: 6px;
}

kendo-pdf-document h2 {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

kendo-pdf-document .reorder-header h2 {
  font-size: 10px;
  font-weight: 500;
}

kendo-pdf-document .reorder-item {
  padding: 5px !important;
  border: 1px solid #e5e7eb;
  font-size: 9px;
}

kendo-pdf-document .reorder-container li {
  min-height: 50px !important;
  max-height: 80px !important;
}

kendo-pdf-document .reorder-item > h2 {
  font-size: 9px;
  line-height: 12px;
}

kendo-pdf-document .reorder-container {
  gap: 0px !important;
}

.mantine-datatable-empty-state, .mantine-datatable-loader {
  display: none !important;
}