@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mantine-color-blue-6: #228be6;
  --mantine-color-blue-filled: var(--mantine-color-blue-6);
  --mantine-primary-color-filled: var(--mantine-color-blue-filled);
  --pagination-active-bg: var(--mantine-primary-color-filled);
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-y: scroll; /* Always show scrollbar, even if content doesn't overflow */
  margin-right: 0 !important; /* Ensure no right margin is added when scrollbar appears */
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6a6a6c1; /* Color of the handle */
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

kendo-pdf-document .reorder-header {
  border: 1px dashed #e5e7eb;
  padding: 6px;
}

kendo-pdf-document h2,
kendo-pdf-document a,
kendo-pdf-document p,
kendo-pdf-document table {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

kendo-pdf-document .reorder-header h2 {
  font-size: 10px;
  font-weight: 500;
}

kendo-pdf-document .reorder-item {
  padding: 5px !important;
  border: 1px solid #e5e7eb;
  font-size: 9px;
}

kendo-pdf-document .reorder-container li {
  min-height: 50px !important;
  max-height: 80px !important;
}

kendo-pdf-document .reorder-item > h2 {
  font-size: 9px;
  line-height: 12px;
}

kendo-pdf-document .reorder-container {
  gap: 0px !important;
}

kendo-pdf-document a {
  font-size: 8px;
  line-height: 12px;
}

.k-pdf-report .to-remove {
  display: none;
}

.mantine-datatable-empty-state,
.mantine-datatable-loader {
  display: none !important;
}

.mantine-Pagination-control .mantine-active {
  background-color: var(--pagination-active-bg) !important;
}
